---
layout: default
title: Martin Schaefer lab: computational cancer biology
categories:
 - home
---

<div class="row">
	<div class="col-md-12">
		<object class="pull-left biglogo" data="/images/logo.png" type="image/svg+xml"></object>
		<div class="bigtitle logobox">
			Computational Cancer Biology
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">

      <p>
	The lab of Martin Schaefer focuses on how mutations or modifications of the DNA transform a healthy cell into a cancer cell. 
	      This transformation is an <b>evolutionary process</b> in which cells undergo changes that promote competition 
	      and survival of the fittest. Critical to this evolution is the role of the tumor environment as it 
	      modulates mutational processes and the fitness effect of each DNA alteration. Conversely, the tumor 
	      also reshapes its environment to create conditions favourable for tumor progression. In our lab we study 
	      these <b>bidirectional tumor-microenvironment interactions</b> with the aim of generating a systems level 
	      understanding of tumor evolution in a complex cellular ecosystem.
      </p>
      <p>
	To achieve this goal we integrate tools from various fields, including population genetics, systems biology, machine 
	      learning and network science. Our computational cancer biology lab is located at the 
	      <a href="http://www.ieo.it/">European Institute of Oncology</a> in Milan, Italy.
      </p>
		</div>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/blog/">News</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for post in site.categories.blog limit:4 %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="col-md-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/papers/">Selected papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-md-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>


<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="http://www.ieo.it/">IEO</a>
				</li>
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>
